<div class="jumbotron">
    <h1 class="display-4">Hello Edwisor Team</h1>
    <p class="lead">This is an assignment based on Basics Of Angular. After watching the videos several times, again and again, I was able to understand all the basics concepts of Angular like
       Components, Data Binding, Directives, Services, HTTP calls etc and tried my best to build this Assignment. I have also created a dropdown menu to see cards belonging to a specific category.</p>
    <hr class="my-4">
    <p>It took a while for me to figure this, but the way Aditya Sir explaines the concepts is really great. All the concepts were explained very clearly.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Go Back to Home</a>
  </div>