
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1>Book details </h1>

      <p class="">released by {{currentBook.release | date }}</p>
      <br>
      <br>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <p>Book Name: {{currentBook.name ?currentBook.name:'Not Available'}}</p>
      <hr>
      <p *ngIf="currentBook.authors.length>0">Authors:
        <span *ngFor="let author of currentBook.authors">{{author}}</span>
      </p>
      <hr>
      <p>Isbn: {{currentBook.isbn}}</p>
      <hr>
      <p>Number Of Pages: {{currentBook.numberOfPages}}</p>
      <hr>
      <p>Publisher: {{currentBook.publisher}}</p>
      <hr>
      <p>Country: {{currentBook.country}}</p>
      <hr>
      <p>Media Type: {{currentBook.mediaType}}</p>
      <hr>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-12 " style="align-items: center">
      <a class="btn btn-success" (click)='goBackToPreviousLocation()'>Go Back</a>
    </div>
  </div>

</div>