<div class="container" style="text-align:center">
    <!-- For Books -->
    <div class="row" style="text-align:center">
      <div class="col-12" style="font-size:22px">
        <h3>All Books</h3>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row" style="text-align:center"  >
      <div *ngFor="let b of allBooks" class="col-6">
  
        <div class="card border-success">
          <div class="card-header text-white bg-success">
            Book Card
          </div>
          <div class="card-body">
            <h5 class="card-title">{{b.name | uppercase}}</h5>
            <p class="card-text">Published by : {{b.publisher}}</p>
            <a [routerLink]="['book-view/', getItemId(b)]" class="btn btn-success">View</a>
          </div>
        </div>
  
        <br>
      </div>
    </div>
    <!-- For Houses -->
    <div class="row" style="text-align:center">
      <div class="col-12" style="font-size:22px">
        <h3>All Houses</h3>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row" style="text-align:center">
      <div *ngFor="let h of allHouses" class="col-md-6">
  
        <div class="card border-danger">
          <div class="card-header text-white bg-danger">
            House Card
          </div>
          <div class="card-body">
            <h5 class="card-title">{{h.name | uppercase}}</h5>
            <p class="card-text">Region : {{h.region}}</p>
            <!-- <a href="#" class="btn btn-success">View</a> -->
            <a [routerLink]="['house-view/', getItemId(h)]" class="btn btn-danger">Read</a>
          </div>
        </div>
  
        <br>
      </div>
    </div>
    <!-- For Characters -->
    <div class="row" style="text-align:center">
      <div class="col-12" style="font-size:22px">
        <h3>All Character</h3>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row" style="text-align:center" *ngIf='allCharacters.length>0'>
      <div *ngFor="let character of allCharacters" class="col-md-6">
  
        <div class="card border-warning">
          <div class="card-header text-white bg-warning">
            Character Card
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">{{character.aliases}}</p>
            <a [routerLink]="['character-view/', getItemId(character)]" class="btn btn-warning">Read</a>
          </div>
        </div>
  
        <br>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>